<body>
  <div class="login-wrapper-outer">
    <div class="login-wrapper-middle">
      <div class="login-wrapper-inner">
        <mat-card>
          <mat-toolbar color="accent">
            <span>Login</span>
          </mat-toolbar>
          <mat-card-content>
              <mat-form-field appearance="standard">
                <input #email matInput placeholder="Email" name="email">
              </mat-form-field>
              <mat-form-field appearance="standard">
                <input #password matInput type="password" placeholder="Password" name="password" required>
              </mat-form-field>
          </mat-card-content>
          <div style="display: flex; justify-content: center;">
              <mat-card-actions style="margin-right: 5%">
                <button mat-raised-button (click)="authService.login(email.value, password.value)" color="accent">Login</button>
              </mat-card-actions>
              <p style="margin-right: 5%; margin-top: 4%"> or </p>
              <mat-card-actions style="margin-left: 1%;">
                <button mat-raised-button (click)="authService.googleLogin()" color="primary" >Login with Google</button>
              </mat-card-actions>
          </div>
          <p style="cursor: none;">Don't have an account?</p>
            <span mat-raised-button routerLink="/signup" style="color:rgb(244, 189, 9); font-weight: bold; cursor: default;">
              Sign up!
            </span>
        </mat-card>
      </div>
    </div>
  </div>
</body>